/********************************TAGS****************************************/

body{
  color: #999999;
  margin: 0;
  padding: 0;
  font-family: 'Libre Franklin', sans-serif;
}


h1{
  color: #08d9d6;
  font-family: 'Dancing Script', cursive;
  font-size: 7rem;
  margin: 1rem;
  padding: 7rem;
}

h2{
  color: #367e7a;
  font-family: 'Fanwood Text', serif;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  padding: 0;


}

h3{
  color: #45a29e;
  font-family: 'Fanwood Text', serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h5{
  font-family: 'Fanwood Text', serif;
  font-size: 1.2rem;
  color: gray;
}


tr{
  padding: .5rem;

}

td{
  padding: .25rem 2rem .25rem 1rem;
  text-align: left;
}


/********************************FirstPanel****************************************/
.container-fluid{
  overflow: hidden;
}

#intro{
  background-color: #0b0c10;

}


.nav-item{
  padding: 0 1rem;
}
.navbar-dark .navbar-brand{
  padding-left: 1%;
  color: #c5c6c7;
}

div.intro-text{
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  height: auto;
  padding-left: 10%;

}

.profilepic{
    padding: 0;
    width:80%;
    height:auto ;
    border-radius:30%;
    float: right;


}

.name-heading{
  font-size: 9rem;
  font-weight: normal;
  color: #66fcf1;
  font-family: 'Dancing Script', cursive;
}

.jobs{
  font-weight: normal;
  color: #c5c6c7;
}

.text-heading{
  padding-top: 10%;
  font-weight: lighter;
  color: #c5c6c7;
}

@media (max-width: 1028px) {
  .name-heading{
    font-size: 5rem;
    font-weight: normal;
    color: #66fcf1;
    font-family: 'Dancing Script', cursive;
  }
  div.intro-text{
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    height: auto;
    padding-left: 4%;

  }
}

#middle{
  background-color: white;
  color: #1f2833;
  padding: 8% 0 8% 0;

}

/********************************Education****************************************/
.divider{
  padding: 10% 3% 7% 3%;
}

hr.hr-text{
  border-top: 1px solid #45a29e ;
  width: 100%;
}

.education{
  padding-bottom: 5%;

}
.education-col{
  overflow: hidden;
  padding: 0;
}

.education-img{
  transform: scaleX(-1);
  height:auto;
  width: auto;
  margin-left: -90%;
  margin-bottom: -50%;

}

.education-text{
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 5%;
}

.education-text h5{
  font-size: 1.4rem;
}

.courses{
  padding-top: 15%;
  font-size: 1.5rem;
}

.courses-list{
  font-family: 'Fanwood Text', serif;
  font-size: 1.2rem;
  color: gray;
}

.captions{
  position: relative;
  z-index: 1;
  background-color: black;
  color: gray;
}

/********************************Experience****************************************/
.experience{
  padding-bottom: 0%;

}

.iconimg{
  width: 100%;
  height:270px;
  border-radius: 100%;
}

.exp-text{
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 3%;
}

.exp-col{
  padding-bottom: 3%;
}
/********************************Skillset****************************************/

.proficiency{
  padding-bottom: 2%;
}

.stars{
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1%;
}

.stars-table{
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    color: gray;
}

.skill-col{
  padding: 6% 3% 4% 3%;
  
}

.skill-left-col{
  border-right: 3px solid #b4d9d8;
}

.skill-text{
  color: gray;
  padding: 10%;
}

.skill-img{
  width: 100%;
  height: auto;
  padding-left: 10%;
}

/********************************Resume****************************************/
.resumeprop{
  padding-bottom: 5%;
}

.resumeimg{
  border: 1px solid gray;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height:auto

}

/********************************Footer****************************************/
#footer{
  background-color: #0b0c10;
  color: #c5c6c7;
  font-family: 'Libre Franklin', sans-serif;
  text-align: center;
}

.footer-text{
  padding: 7% 0 1% 0;
  color: #c5c6c7;
}

.footer-contact{
  font-size: 2rem;
  padding: 3% 0 0% 0;
  color: #c5c6c7;
 
  
  
}

.footer-icons{
  padding: 1% 1% 1% 1%;
  font-size: 1.5rem;

}

.footer-buttons{
  color: #c5c6c7;
}
.footer-buttons:hover{
  color: #08d9d6;
  text-decoration: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.copyright{
  padding-top: 5%;
  color: gray;
}
/*
.profile{
  padding: 7rem 2rem 5rem 2rem;
  text-align: left;
}

.information{
   text-align: center;
}

.education{
  padding: 5rem 0 5rem 0;
}

.courses{
  text-align: left;
  list-style-position: inside;
  display: inline-block;
  margin: 0;
  padding-left: 2rem;
  vertical-align: top;
}

.work-exp{
  padding: 5rem 0 5rem 0;
}

.skills{
  padding: 5rem 0 5rem 0;
}


.center-left-paragraphs{
  width: 30%;
  text-align: left;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
*/

/********************************SUBTAGS****************************************/
